*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
li{
    list-style: none;
}
ul{
    list-style: none;
}
body{
    background-color: #808080;
}
main{
    width: 100%;
}
.left{
    width: 70%;
    max-width: 70%;
    float: left;
}
.right{
    width: 30%;
    max-width: 30%;
    float: right;
}
.right img{
    display: inline-block;
    margin-right: 13px;
    width: 100px;
    height: 100px;
}
.right ul li{margin-bottom: 5px; border: 1px solid gold; cursor: pointer; }
.right ul li:hover{border: 1px solid darkblue;}

.right ul li:nth-child(even) {background: #CCC}
.right ul li:nth-child(odd) {background: #FFF}
.right h3{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;

}
.arrow{
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    z-index: 5;
    margin-top: -32px;
    opacity: 0.3;
}
.arrow:hover{
    opacity: 1;
}
.arrow.next{
    background-image:url("../images/assets/next.png");
    left:100%;
    margin-left: -64px;

}
.arrow.prev{
    background-image: url("../images/assets/prev.png");

}
.image-container{
    border: 30px solid #ffffff;
    border-radius: 5px;
    width:600px;
    height: 400px;
    position: relative;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
}
.image-container img{
   position: absolute;
    z-index: 2;
    width: 540px;
    height: 340px;
}
.image-container .slickview{
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -50px;
    z-index:4;
    text-align: center;
}
.image-container .slickview ul li img{

    position: relative;
    width: 100%;
    height: 100%;
}
.image-container .slickview ul li {
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.image-container .slickview ul li.active{
    border: 1px solid #ff0000;
}
.main{
    left: 0;
}
/* next click styles */
.isNext.ng-hide-add,.ng-hide-remove{
    display: block !important;
}
.isNext.main.ng-hide-add{
    -webkit-transition: all 1s ease;
   -webkit-transform:translateX(0px);
    display: block !important;

}
.isNext.main.ng-hide-remove{
    -webkit-transition: all 1s ease;
    -webkit-transform:translateX(-540px);
}
.isNext.main.ng-hide-remove-active{
    left:540px;
}
.isNext.main.ng-hide-add-active{
    left: 540px;
}
/* previou click style */
.isPrev.ng-hide-add,.ng-hide-remove{
    display: block !important;
}
.isPrev.main.ng-hide-add{
    -webkit-transition: all 1s ease;
    -webkit-transform:translateX(0px);
    display: block !important;

}
.isPrev.main.ng-hide-remove{
    -webkit-transition: all 1s ease;
    -webkit-transform:translateX(540px);
}
.isPrev.main.ng-hide-remove-active{
    left:-540px;
}
.isPrev.main.ng-hide-add-active{
    left: -540px;
}

.simple{
    height: 400px;
    width:400px;
    background-color: #ffff00;
    position: absolute;
    right: 2px;
}
.animate{

    -webkit-transition: all 2s ease;
    -webkit-transform:translateX(-100%);
}


