/*

variables

----------------------------*/

@desktop-width:   1024;
@base-font-size:  16;
@zero-pix:        0%;
@min-percent:     0%;
@max-percent:     100%;
@oneEm:           1em;

/*

mixins

----------------------------*/

.percentWidth(@width:  @desktop-width,@base:  @desktop-width) {
  width:  @width / @base * 100 + @min-percent;
}

.percentPadding(@base:@desktop-width,@top:0,@right:0,@bottom:0,@left:0) {
  padding:  (@top/@base*100+@min-percent)
            (@right/@base*100+@min-percent)
            (@bottom/@base*100+@min-percent)
            (@left/@base*100+@min-percent);
}
.emFontSize(@size:@base-font-size,@base:@base-font-size){
  font-size: @size/@base*@oneEm
}
.emWidth(@size:1,@base:1){
  width: @size/@base;
}


.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  &:after {
    clear: both;
  }
}
html{
  height: 100%;
}
body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: garageggothicregular, 'Arial Narrow', Helvetica, Arial, sans-serif;
}
ul,li{
  list-style: none;
}
.navigation{
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}
a{
text-decoration: none;
}

.navigation li {
  cursor: pointer;
  color: #fff;
  font-size: 1.6em;
  display: block;
  background: #e26d5d;
  background-color: #e47566;
  border-bottom: 1px solid #da4632;
  border-top: 1px solid #ea9488;
  text-shadow: 0px -1px #da4632;
  text-transform: uppercase;
  line-height: 2.055;
  padding-left: 8%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  a {
    letter-spacing: 0.03em;
    &:hover {
      background: #e47566;
    }
    &:after {
      .sprite;
      content: '';
      background-position: 0 -726px;
      position: absolute;
      right: 4%;
      top: 18px;
      height: 18px;
      width: 10px;
    }
  }
&:hover{
  background: #e47566;
}
}
.sprite{
  background:url('sprites/sprite.png');
}

