<div style="margin: 24px 0 0 45px;">
    <input type="search" data-ng-model="search"/>
    <span>Toatal Items :</span><span data-ng-bind="(filterCol=(friends | filter:{first_name:search})).length"></span>
</div>
<div id="rounded-corner">
    <table border="2">
    <thead>
            <th data-ng-click="sort('id')">Id</th>
            <th data-ng-click="sort('first_name')">FirstName</th>
            <th data-ng-click="sort('last_name')">LastName</th>
            <th data-ng-click="sort('birthday')">Birthday</th>
            <th data-ng-click="sort('location')">Location</th>
            <th data-ng-click="sort('gender')">Gender</th>
            <th data-ng-click="sort('relationship_status')">RelationShip</th>

</thead>
    <tbody>
    <tr data-ng-repeat=" friend in filterCol  | pagination:pageIndex:pageSize | orderBy:sortField:reverse">
        <td data-ng-bind="friend.id"></td>
        <td data-ng-bind="friend.first_name"></td>
        <td data-ng-bind="friend.last_name"></td>
        <td data-ng-bind="friend.birthday"></td>
        <td data-ng-bind="friend.location.name"></td>
        <td data-ng-bind="friend.gender"></td>
        <td data-ng-bind="friend.relationship_status"></td>
    </tr>
    </tbody>
</table></div>