<a href="/#/profile">Details</a>
<a href="/#/friends">Friends</a>
<div class="main">
    <div class="slider left">
        <nav>

        </nav><!--
        <div data-ng-include="'views/partials/login.html'"></div>-->
        <div data-ng-include="showCont && 'views/partials/frame.html' || 'views/partials/login.html'"></div>
        <div>
            <h3>Album Details</h3>
            <h4 data-ng-bind="albumInfo.name"></h4>
            <h5 data-ng-bind="albumInfo.count"></h5>
        </div>
        <button data-ng-click="login()">login</button>
        <button data-ng-click="fetchalbums()">login</button>
    </div>
    <div class="right">
        <ul>
            <li>
                <input type="search" data-ng-model="search"/>
                <span>total: </span><span data-ng-bind="(filterBacklog=(albums | filter:{name:search})).length"></span>
            </li>
            <li data-ng-repeat="album in filterBacklog" data-ng-click="showPicture(album.id)" data-ng-controller="AlbumCtrl">
                <img data-ng-src="[[getPicture(album.cover_photo,100,100)]]" data-ng-attr-alt="[[album.name]]"/>

                <h3 data-ng-bind="album.name"></h3>
            </li>
        </ul>
    </div>
</div>
